body{
  width: 80%;
  margin: auto;
  font-size: 12px;
}

header{
  font-size: 0;
  margin: 0 0px 20px 0px;
}
#paint-header{
  font-size: 12px;
  text-align: left;
  display: inline-block;
}

#paint-header > img{
  width: 400px;
}

#link_qrcodes{
  font-size: 14px;
  display: inline-block;
  width: 50%;
  height:auto;
  vertical-align: top;
  padding-top: 40px;
  
}
#link_qrcodes .item-menu{
  height:auto;
  display:inline-block;
  margin-left: 30px;
}
#link_qrcodes .item-menu img{
  display: inline-block;
  width: 25px;

}

#link_qrcodes .item-menu a{
  vertical-align: 106%;
  text-decoration: none;
  color: #3E3D3D;
}

#session-name{
  vertical-align: 50%;
  color: #3E3D3D;
  height: 38px;

}

#qrcode{
  font-size: 12px;
  display: inline-block;
  width: 20%;
}

#qrcode #rase-qrcode{
  float:right;
  text-decoration: none;
  color: #3E3D3D;
}

#dialog_sessions{
  text-align: center;
}

#sessions{
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 2px 0 2px;
}

#sessions .session {
  border-top: 1px solid black;
}

#sessions .session:hover{
  cursor: pointer;
}
#sessions .session:first-child{
  border: none;
}

#paint_html{
  width:1020px;
  margin: auto;
}

#paper_paint{
  width: 850px;
  border: 1px solid black;
  display: inline-block;
}

#paper_menu{
  width: 150px;
  border: 1px solid black;
  display: inline-block;
}

#qrcode{
  text-align:cente;
}